/* default.css */
/* import the font provided by Google */
/* this font is needed to display the stars */
/* stars are no images, but pieces of code */

/* YOU CAN USE THIS EXAMPLE FOR YOUR OWN PROJECT */
/* IMPLEMENT THIS CSS INTO YOUR OWN CODE */

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* Ratings widget */

/* link to another font type */
/* this time included as font-files (woff) */
/* fonts are located in the font-directory */
@font-face
{
    font-family: 'anudawitalic';
    src: url('../fonts/anudi-webfont.woff2') format('woff2'),
         url('../fonts/anudi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face
{
    font-family: 'anudawregular';
    src: url('../fonts/anudrg-webfont.woff2') format('woff2'),
         url('../fonts/anudrg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* style the form ) */
form.frmRate
{
	margin: 0px auto;
	background-color: black;
}

fieldset
{
	border: 0px solid;
}

legend,
.divMessage h3,
h3, h4, h5
{
	font-family: Verdana;
}

/* style the division message and submit-button */
.divMessage,
.divSubmit
{
	float: left;
	display: block;
	width: 100%;
	height: 100%;
	margin: 15px 0 0;
}


/* start textarea division */
.divMessage textarea
{
	width: 99%;
	height: 100px;
	resize: vertical;
	display: block;
	float: left;
}

/* start submit division */
.divSubmit > input[type='submit']
{
	width: 180px;
	height: 60px;
	font-family: anudawregular;
	font-size: 20px;
	color: #ffffff;
	background-color: #0282f9;
	border: 1px solid #000;
	margin-bottom: 25px;
}

.divSubmit > input[type='submit']:hover
{
	background-color: #ffd900;
	color: #0282f9;
	cursor: pointer;
	border: 1px solid #0282f9;
}
/* end submit divivisuion and button */

/* the rating widget is located in a div with class 'rate' */
.rate
{
    display: inline-block;
    border: 0;
    color: white;
    top: 55px;
    left: 136px;
    position: absolute;
}

/* hide radio buttonns */
.rate > input[type='radio']
{
    display: none;
}

/* order correctly by floating the labels highest to the right */
.rate > label.lblRating
{
    float: right;
}

/* the star of the show */
.rate > label.lblRating:before
{
    display: inline-block;
    font-size: 4rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* zero stars rating */
.rate > label.lblRating:last-child:before
{
    content: "\f006 "; /* empty star outline */
}
/* half star trick */
.rate label.half:before
{
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* click + hover color */
input:checked ~ label.lblRating, /* color current and previous stars on checked */
label.lblRating:hover, label.lblRating:hover ~ label.lblRating /* color previous stars on hover */
{ 
	color: #ffd900;
} 

/* hover highlights */
input:checked + label.lblRating:hover, input:checked ~ label.lblRating:hover, /* highlight current and previous stars */
input:checked ~ label.lblRating:hover ~ label.lblRating, /* highlight previous selected stars for new rating */
label.lblRating:hover ~ input:checked ~ label.lblRating /* highlight previous selected stars */
{
	color: #ffd900; 
}
/* end of the rating widget */


/* reviews table */
table.reviewTable,
h3.reviewTable,
h4.reviewTable,
h5.reviewTable
{
	/*! width: 400px; */
	margin: 0 auto;
}