body
{
  margin: 0 auto;
  overflow-y: hidden;
}

#ContainerDivPvlt
{
    height: 75vh;
}

#HeaderDivPvlt
{
    background-color: black;
    position: relative;
    padding: 20px;
    height: 200px;
}

#LogoDivPvlt
{
    text-align: center;
}

#LogoDivPvlt img
{
    height: 100%;
    width: 500px;
    margin: 0 auto;
}

#TextDivPvlt h1
{
  color: white;
  font-family: Verdana;
  font-size: 121px;
  position: absolute;
  top: -35px;
  left: 236px;
}

#ContentDivPvlt
{
    height: 100%;
    background-color: rgb(231, 231, 231);
}

#LeftDivPvlt
{
    margin: 0 auto;
    background-color: white;
    border-right: 1px solid rgb(231, 231, 231);
    float: left;
    display: block;
    height: 100%;
    width: 400px;
}

#NavDivPvlt
{
    font-family: Verdana;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

#NavDivPvlt h3
{
    padding: 0px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.TeamsImgPvlt
{
    width: 20px;
}

#TeamsHeaderPvlt
{
    font-size: 36px;
}

#NavPvlt a
{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#NavPvlt a:hover
{
    color: rgb(109, 109, 109);
    font-size: 20px;
}

#NavDivPvlt ul
{
    list-style: none;
    margin: 0 auto;
    padding: 0px;
}

#NavDivPvlt li
{
    text-align: left;
    margin-bottom: 2px;
}

#MiddleDivPvlt
{
    background-color: rgb(240, 240, 240);
    border-right: 1px solid rgb(231, 231, 231);
    float: left;
    display: block;
    height: 100%;
    width: 650px;
    overflow-y: scroll;
}

.HeroDivPvlt
{
    background-color: black;
    background-image: url("../images/herodivpurple.jpg");
    background-size: 100% 100%;
    height: 280px;
    margin: 0 auto;
    width: 93%;
    margin-top: 20px;
    border: 2px solid grey;
    position: relative;
    overflow-y: hidden;
}

.HeroDivPvlt:nth-child(2n + 2)
{
    background-image: url("../images/herodivblue.jpg");
}

.HeroDivPvlt:nth-child(5n + 5)
{
    margin-bottom: 20px;
}

.HeroImgPvlt
{
    background-color: black;
    height: 100%;
    width: 37%;
    float: left;
}

.HeroImgPvlt img
{
    height: 100%;
    width: 100%;
}

.HeroDescPvlt
{
    display: inline-block;
    width:60%;
    margin: 0 auto;
    position: absolute;
    top: 20px;
    right: 7px;
    color: white;
    font-family: Verdana;
    text-align: center;
}

.HeroDescPvlt h3
{
    font-size: 27px;
    padding: 0px;
    margin: 0 auto;
    font-family: Verdana;
}

#RightDivPvlt
{
    background-color: rgb(46, 46, 46);
    float: right;
    display: block;
    height: 100%;
    width: 868px;
    overflow-y: scroll;
}

#RightContentPvlt
{
    height: 100%;
    width: 70%;
    margin: 0 auto; 
    margin-top: 20px;
    position: relative;
}

#RatingImgDivPvlt
{
    background-color: black;
    background-image: url("../images/stars.jpg");
    background-size: cover;
    height: 750px;
    margin: 0 auto;
}

#RatingContentDivPvlt
{
    margin: 0 auto;
    color: white;
    margin-bottom: 100px;
}

#RatingImgPvlt
{
    height: 470px;
    width: 380px;
    position: absolute;
    border-radius: 3px;
    top: 170px;
    left: 108px;
    border: 1px solid white;
}

#HeroHeaderPvlt
{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 22px;
}

#HeroHeaderPvlt h3
{
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 0px;
    margin: 0 auto;
}

#reviewTablePvlt
{
    font-family: Verdana;
    width: 100%;
}

.ratingHeaderPvlt
{
    padding: 0px;
    margin: 0 auto;
    font-size: 19px;
    margin-top: 15px;
}

#ratingHeaderTimePvlt
{
    padding: 0px;
    margin: 0 auto;
    font-size: 17px;
}

#ratingCommentPvlt
{
    padding: 0px;
    margin: 0 auto;
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 15px;
}

#reviewCommentsPvlt
{
    font-size: 40px;
    margin-bottom: 30px;
}

#fieldPvlt h2
{

    font-family: Verdana;
}

#ReturnMessagePvlt
{
    font-size: 15px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#RatingHeaderPvlt
{
    font-size: 25px;
    padding: 0px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

.linePvlt
{
    background-color: white;
    height: 1px;
}

#MoreInfoPvlt
{
    bottom: 0px;
    margin: 0 auto;
    padding: 5px;
    color: white;
    background-color: red;
    border: 1px solid black;
    font-family: Verdana;
    width: 37%;
    font-size: 16px;
    border-radius: 6px;
}

#MoreInfoPvlt:hover
{
    background-color: rgb(255, 47, 47);
}

.HeroDescPvlt p
{
    height: 115px;
    overflow-y: scroll;
    padding: 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#PowersPvlt
{
    font-family: Verdana;
    font-size: 17px;
    padding-right: 45px;
    padding-bottom: 20px;
}

#ratePostPvlt
{
    position: relative;
    top: 0px;
    left: 0px;
}

.favIconPvlt
{
    width: 22px;
}